---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: network
resources:
  - ./external-dns/ks.yaml
  - ./cloudflared/ks.yaml
  - ./envoy-gateway/ks.yaml
components:
  - ../../components/namespace
  - ../../components/flux/alerts
