[connection]
id={{ item.interface }}.{{ item.vlan_id }}
type=vlan
interface-name={{ item.interface }}.{{ item.vlan_id }}
autoconnect=true

[vlan]
parent={{ item.interface }}
id={{ item.vlan_id }}
flags=1

[ipv4]
method=auto

[ipv6]
addr-gen-mode=default
method=auto
