[Unit]
Description=Blocky DNS Server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm --force blocky
ExecStart=/usr/bin/docker run --name blocky \
    --pull always \
    --restart unless-stopped \
    -p 53:53/tcp -p 53:53/udp \
    -p 4000:4000/tcp \
    spx01/blocky
ExecStop=/usr/bin/docker stop blocky
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
