---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: downloads
resources:
  - ./qbittorrent/ks.yaml
  - ./qui/ks.yaml
components:
  - ../../components/privileged-namespace
  - ../../components/flux/alerts
