[Unit]
Description=Tailscale
After=docker.service
Requires=docker.service


[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker rm --force tailscaled
ExecStart=/usr/bin/docker run --name=tailscaled \
    -v /var/lib/tailscale:/var/lib/tailscale \
    -v /dev/net/tun:/dev/net/tun \
    --network=host \
    --cap-add=NET_ADMIN \
    --cap-add=NET_RAW \
    --env TS_ROUTES=172.16.0.0/12 \
    --env TS_STATE_DIR=/var/lib/tailscale \
    --env TS_EXTRA_ARGS="--advertise-tags=tag:home" \
    tailscale/tailscale
ExecStop=/usr/bin/docker stop tailscaled
Restart=always
RestartSec=5s


[Install]
WantedBy=multi-user.target
