[Unit]
Description=Cloudflare DNS over HTTPS Proxy
After=network.target

[Service]
ExecStart={{ cloudflared_binary_path }} proxy-dns \
  --port {{ cloudflared_service_port }} \
  --upstream {{ cloudflared_upstream_dns | join(' --upstream ') }}
Restart=always
RestartSec=5s
User=root
Group=root

[Install]
WantedBy=multi-user.target
