---
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
clusterName: ${clusterName}
endpoint: https://${clusterName}.${clusterDNSSuffix}:6443
allowSchedulingOnMasters: true
# renovate: depName=ghcr.io/siderolabs/installer datasource=docker extractVersion=^(?<version>.*)$
talosVersion: v1.10.9
# renovate: depName=kubernetes/kubernetes datasource=github-releases extractVersion=^v(?<version>.*)$
kubernetesVersion: 1.33.0

cniConfig:
  name: none

clusterPodNets:
  - 10.244.0.0/16
  - ${ipv6PodNet}
clusterSvcNets:
  - 10.96.0.0/12
  - ${ipv6SvcNet}

additionalApiServerCertSans: &san
  - ${clusterName}.${clusterDNSSuffix}
  - 127.0.0.1 # KubePrism
additionalMachineCertSans: *san

nodes:
  - hostname: node01.${clusterName}.${clusterDNSSuffix}
    ipAddress: 172.30.11.1
    controlPlane: true
    installDiskSelector:
      size: < 500GB
    machineSpec:
      mode: metal
      arch: amd64

  - hostname: node02.${clusterName}.${clusterDNSSuffix}
    ipAddress: 172.30.11.2
    controlPlane: true
    installDiskSelector:
      size: < 500GB
    machineSpec:
      mode: metal
      arch: amd64

  - hostname: node03.${clusterName}.${clusterDNSSuffix}
    ipAddress: 172.30.11.3
    controlPlane: true
    installDiskSelector:
      size: < 500GB
    machineSpec:
      mode: metal
      arch: amd64

controlPlane:
  patches:
    # Disable search domain everywhere
    - |-
      machine:
        network:
          disableSearchDomain: true
    # Enable KubePrism
    - |-
      machine:
        features:
          kubePrism:
            enabled: true
            port: 7445

    # Cluster configuration
    - |-
      cluster:
        allowSchedulingOnMasters: true
        proxy:
          disabled: true
        coreDNS:
          disabled: true
        controllerManager:
          extraArgs:
            node-cidr-mask-size-ipv6: "72"
            feature-gates: MultiCIDRServiceAllocator=true

    - |-
      machine:
        network:
          interfaces:
            - deviceSelector:
                busPath: "0*"
              dhcp: true

    # Configure containerd
    - |-
      machine:
        files:
          - op: create
            path: /etc/cri/conf.d/20-customization.part
            content: |
              [plugins]
                [plugins."io.containerd.grpc.v1.cri"]
                  enable_unprivileged_ports = true
                  enable_unprivileged_icmp = true

    # NFS Mount Configuration
    # Todo: return to 4.2 after migrating off synology
    - |-
      machine:
        files:
          - op: overwrite
            path: /etc/nfsmount.conf
            permissions: 0o644
            content: |
              [ NFSMount_Global_Options ]
              nfsvers=4.2
              hard=True
              noatime=True
              nodiratime=True
              rsize=131072
              wsize=131072
              nconnect=8

    # Kubelet configuration
    - |-
      machine:
        kubelet:
          extraArgs:
            rotate-server-certificates: "true"
          extraConfig:
            maxPods: 150
          nodeIP:
            validSubnets:
              - 172.16.0.0/12
              - 2001:470:e899:100::/64

    # Custom sysctls
    - |-
      machine:
        sysctls:
          fs.inotify.max_user_watches: "1048576"
          fs.inotify.max_user_instances: "8192"
          net.core.bpf_jit_harden: 1

    # Add Kernel Modules
    - |-
      machine:
        kernel:
          modules:
            - name: "nvidia"
            - name: "nvidia_uvm"
            - name: "nvidia_drm"
            - name: "nvidia_modeset"
    # Enable K8s Talos API Access
    - |-
      machine:
        features:
          kubernetesTalosAPIAccess:
            enabled: true
            allowedRoles:
              - os:admin
            allowedKubernetesNamespaces:
              - system-controllers
    # Enable HostDNS
    - |-
      machine:
        features:
          hostDNS:
            enabled: true
            resolveMemberNames: true
            forwardKubeDNSToHost: false
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=0
      systemExtensions:
        officialExtensions:
          - siderolabs/intel-ucode
          - siderolabs/i915-ucode
          - siderolabs/iscsi-tools
          - siderolabs/gasket-driver
          - siderolabs/nonfree-kmod-nvidia-production
          - siderolabs/nvidia-container-toolkit-production
worker:
  schematic:
    customization:
      extraKernelArgs:
        - net.ifnames=0
      systemExtensions:
        officialExtensions:
          - siderolabs/intel-ucode
          - siderolabs/i915-ucode
          - siderolabs/iscsi-tools
          - siderolabs/gasket-driver
          - siderolabs/nonfree-kmod-nvidia-production
          - siderolabs/nvidia-container-toolkit-production
