---
name: On PR

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - main

jobs:
  simple-checks:
    uses: rtrox/home-ops/.github/workflows/simple-checks.yaml@main
    permissions:
      contents: read
      pull-requests: write

  flux-local-chongus:
    uses: rtrox/home-ops/.github/workflows/flux-local-chongus.yaml@main
    permissions:
      contents: read
      pull-requests: write
    secrets: inherit
    needs:
      - simple-checks
