---
name: "Simple Checks"

on:
  workflow_call:

jobs:
  pre-commit-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
        with:
          extra_args: --config .pre-commit-config.yaml

  lint-yaml:
    name: Lint Yaml Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          list-files: shell
          filters: |
            yaml:
              - added|modified: "**.yaml"
              - added|modified: "**.yml"

      - name: "Yamllint"
        if: ${{ steps.filter.outputs.yaml == 'true' }}
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: "${{ steps.filter.outputs.yaml_files }}"
          strict: false
          config_file: .github/lint/.yamllint.yaml
        env:
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  renovate-config-validator:
    name: Validate Renovate Config
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          list-files: shell
          filters: |
            renovate:
              - added|modified: ".github/renovate.json5"
              - added|modified: ".github/renovate/**.json5"

      - name: Validate Renovate Config
        if: ${{ steps.filter.outputs.renovate == 'true' }}
        uses: rinchsan/renovate-config-validator@v0.2.0
        with:
          pattern: ".github/*.json5"

  lint_success:
    needs:
      - pre-commit-check
      - lint-yaml
      - renovate-config-validator
    if: ${{ !cancelled() }}
    name: Lint successful
    runs-on: ubuntu-latest
    steps:
      - name: Check job status
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
